* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: #e1e1e1;
color: #333; text-align: center;
    line-height: 1.6;
}

header {
    background-color: #1b2a44;  color: white;
padding: 40px;
}

header h1 {
    font-size: 36px;  font-weight: bold;
}

header p {
    font-size: 20px;
}
